html{
    background:lightgray;

}
h1{
    text-align: center;
    color:blue;
    font-size:250%;
    font-style:gothic;
}
h2{
    
    color:red;
    font-size:1.5vw;
}
tbody{
    font-style: italic;
}

footer{
    font-size: 200%;
    color:navy;
    
}
/*.center {
    display:block;
    margin-left: auto;
    margin-right: auto;

}*/
    



